@font-face {
  font-family: "D-DIN";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./D-DIN.woff2") format("woff2");
}

@font-face {
  font-family: "D-DIN";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./D-DIN-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "D-DIN";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./D-DIN-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "D-DIN-Bold";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./D-DIN-Bold.woff2") format("woff2");
}
